@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Mono&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

@import './variables';

@import './App';
@import './Home';

@import './Button';
@import './HamburgerMenu';
@import './Navbar';
@import './Key';
@import './Tile';
@import './Tooltip';

:root {
  font-family: $font-family-regular;
  line-height: 1.5;
  font-weight: $font-weight-regular;

  color-scheme: light dark;
  color: $body-color;
  background-color: $dark-gray;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: $font-family-regular;
}

a {
  font-weight: $font-weight-regular;
  color: $teal-1;
  text-decoration: none;
  position: relative;

  &:after {
    bottom: -12px;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: $teal-2;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  &:hover {
    color: $teal-2;
  
    &:after {
      width: 100%; 
      left: 0;
    }
  }
}

p {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $dark-gray;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
