
@keyframes wiggle {
  0% {
    transform: none;
  }
  15% {
    transform: translateX(-20%) rotate(-10deg);
  }
  30% {
    transform: translateX(10%) rotate(7deg);
  }
  45% {
    transform: translateX(-15%) rotate(-10deg);
  }
  60% {
    transform: translateX(10%) rotate(5deg);
  }
  75% {
    transform: translateX(-5%) rotate(-2deg);
  }
  100% {
    transform: none;
  }
}

@keyframes slide {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}