.Button {
  border-radius: 4px;
  border: none;
  background: $teal;
  color: $body-color;
  font-size: 20px;
  padding: 8px 16px;
  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: $dark-teal;
    color: $light-teal;
  }

  &--icon {
    background: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}