.Button {
  border-radius: $border-radius-button;
  border: none;
  font-size: 20px;
  padding: 12px 16px;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    background-color: $white;
    color: $teal-5;
  }

  &--primary {
    min-width: 160px;
    background: $teal-3;
    border: 1px solid transparent;
    color: $teal-1;
  }

  &--secondary {
    min-width: 160px;
    background: transparent;
    border: 1px solid $teal-1;
    color: $teal-1;
  }

  &--icon {
    background: transparent;
    color: $teal-1;
    border: 0;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}