.Hamburger-Menu {
  display: none;
  height: $nav-bar-height;

  &__logo {
    font-size: $font-size-icon;
  }

  &__button {
    width: 40px;
    height: 40px;

    &:hover {
      background: transparentize($white, 0.9);

      i {
        color: $teal-1;
      }
    }
  }

  &__links {
    @include box-shadow;

    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background: $teal-3;
    width: 50%;
    min-width: 200px;
    border-radius: 8px;
    right: 24px;
    top: 52px;
  }

  &__link {
    padding: 8px 0;
    user-select: none;
    width: 100%;
    text-align: center;
    font-size: $font-size-xl;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      background-color: $teal-5;
      color: $white;
    }

    &:first-child {
      border-radius: $border-radius-box-small $border-radius-box-small 0 0;
    }
    
    &:last-child {
      border-radius: 0 0 $border-radius-box-small $border-radius-box-small;
    }
  }
}

@media screen and (max-width: $min-device-width) {
  .Hamburger-Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}