.Key {
  display: flex;
  align-items: center;
  user-select: none;

  &--long {
    .Key__icon {
      width: 24px;
    }
  }

  &__icon {
    width: 14px;
    font-family: "Ubuntu Mono", monospace;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: $border-radius-box-small;
    text-align: center;
    font-weight: bold;
    background: #646669;
    color: #323437;
  }

  &__info {
    color: #323437;
    margin-left: 8px;
    font-weight: 500;
  }
}