.Navbar {
  color: $body-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $nav-bar-height;
  font-size: $font-size-md;

  &--loading {
    .Navbar__logo {
      opacity: 0;
      animation: drop-in 1s ease;
      animation-fill-mode: forwards;
    }
  
    .Navbar__link {
      display: inline-block;
      opacity: 0;
      animation: drop-in 1s ease;
      animation-fill-mode: forwards;
    }
  }

  &__logo {
    font-size: $font-size-xl;
  }

  &__link {
    font-size: $font-size-lg;
    margin: 8px 16px;
  }
}

@media screen and (max-width: $min-device-width) {
  .Navbar {
    display: none;
  }
}