.Project {
  min-height: 240px;
  padding: 16px 24px;
  border: 1px solid $body-color;
  border-radius: $border-radius-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  user-select: none;
  min-width: 200px;
  cursor: pointer;

  &--in-progress {
    border-style: dashed;

    &:hover {
      border-style: dashed !important;
    }
  }

  &:hover {
    transform: translateY(-8px);
    background: transparentize($dark-gray, 0.3);
    border: 1px solid $beige;

    .Project {
      &__title {
        color: $beige;
      }

      &__tech-pill {
        color: $teal-1;
        border-color: transparentize($beige, 0.3);
      }
    }
  }

  &__header {
    min-height: 36px;

    &-icons {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    &-icon {
      font-size: $font-size-xxl;

      &--url {
        font-size: $font-size-xl;
      }

      &:last-child {
        margin-left: 12px;
      }

      &:after {
        display: none;
      }
    }
  }

  &__body {
    height: 100%;
  }

  &__footer {
    margin-top: 16px;
  }

  &__tech-pills {
    display: flex;
    flex-flow: row wrap;
  }

  &__tech-pill {
    padding: 4px 8px;
    margin: 4px 8px 4px 0px;
    font-size: $font-size-xs;
    border-radius: $border-radius-box-small;
    border: 1px solid $body-color;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.Home__section-info-projects:has(.Project:hover) {
  .Project:not(:hover) {
    opacity: 0.5;
  }
}

@media screen and (max-width: $small-device-width) {
  .Project {
    min-height: 180px;
  }
}