.Skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    &-pic {
      max-width: 80px;
      transition: all 0.3s ease;
      opacity: 0.6;
    }
  }

  &__label {
    transition: all 0.3s ease;
    font-size: $font-size-sm;
  }

  &:hover {
    .Skill {
      &__icon-pic {
        transform: scale(1.1);
        opacity: 1;
      }

      &__label {
        transform: scale(1.1);
        // font-size: $font-size-lg;
      }
    }
  }
}